<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        footer {
            width: 100%;
            background-color: rgba(144, 238, 144, 0.8); /* 반투명한 밝은 연두색 */
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            backdrop-filter: blur(10px); /* 글래스모피즘 효과 */
        }

        footer p {
            margin: 0;
        }
    </style>
</head>
<body>
<footer>
    <p>&copy; 2024 06 03 오자현</p>
</footer>
</body>
</html>
